{% load staticfiles %}
<html>
    <head>
        <script type="text/javascript" async
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        <title>NLPie</title> 
        <script type="text/javascript" src="/static/js/blog.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Halant" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/octicons.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vs.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <p class="top-menu">Hello MoJo <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            <a href= "{% url 'post_new' %}">
                <img src="{% static 'img/png/glyphicons-191-plus-sign.png' %}" class= "octicons"></a>
            <a href= "{% url 'post_draft_list' %}" >
                <img src="{% static 'img/png/glyphicons-609-newspaper.png' %}" class= "octicons"></a>
        {% endif %}         
        <!--<img src="static/img/logo.jpg" height="100" width="200" href="{% url 'post_new' %}">-->
        <h1><a href="/"> NL<b>P</b>ie </a></h1>
         <!-- <img src="{% static 'img/1f967.png' %}" height="100" width="200" /> -->
         <div class="menu-bar">
            <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/kasramvd/NLPie-blog"
                data-size="small"
                data-show-count="true"
                aria-label="Star NLPie on GitHub">Star</a>
            </div>
        </div>
 <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            {% if sub_scribe %}
            <div class="col-md-3">
                <form class="newsletter" autocomplete="off" novalidate>
                        <label style="font-size: 20px;font-family: 'Special Elite', cursive;">Wanna stay tuned?</label>
                        <input type="email" id="newsletter" placeholder="Enter your email address" tabindex="1" class="newsletter-email" />
                        <input type="submit" value="OK" tabindex="2" class="newsletter-submit" onclick="return subscribe()"/>
                    </form>
            {% endif %}
        </div>
        </div>
        </div>
        <script type="text/javascript">
            (function (window, document, undefined){
    'use strict';
    var form        = '.newsletter',
        className   = 'newsletter--active',
        email       = 'input[type="email"]',

        addEventListener = function( element, event, handler )
        {
            element.addEventListener ? element.addEventListener( event, handler ) : element.attachEvent( 'on' + event, function(){ handler.call( element ); });
        },
        forEach = function( elements, fn )
        {
            for( var i = 0; i < elements.length; i++ ) fn( elements[ i ], i );
        },
        addClass = function( element, className )
        {
            element.classList ? element.classList.add( className ) : element.className += ' ' + className;
        },
        removeClass = function( element, className )
        {
            element.classList ? element.classList.remove( className ) : element.className += element.className.replace( new RegExp( '(^|\\b)' + className.split( ' ' ).join( '|' ) + '(\\b|$)', 'gi' ), ' ' );
        };

    forEach( document.querySelectorAll( form ), function( $form )
    {
        var $email = $form.querySelectorAll( email );

        if( $email.length )
        {
            $email = $email[ 0 ];
            addEventListener( $email, 'keyup', function()
            {
                $email.value != '' && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,12})?$/.test( $email.value ) ? addClass( $form, className ) : removeClass( $form, className );
            });
        }
    });
})(window, document);

function subscribe() {
    var email = document.getElementById('newsletter').value;
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        dataType: "json",
        url : "subscribe/", // the endpoint
        type : "POST", // http method
        data : { 'email' : email,
                 'csrfmiddlewaretoken': csrftoken }, // data sent with the post request

        // handle a successful response
        success : function(response) {
            alert("Thanks for subscription.");
        },

        // handle a non-successful response
        error : function(xhr, errmsg, err) { 
            console.log(xhr.status + ": " + xhr.responseText);
    }
});
        $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
};

        </script>
</body>
</html>