{% load staticfiles %}
<html>
    <head>
        <title>NLPie</title> 
        <script type="text/javascript" src="/static/js/blog.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Halant" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/vs.css' %}">
    </head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">Hello MoJo <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% endif %}
        <!--<img src="static/img/logo.jpg" height="100" width="200" href="/">-->
        <h1><a href="/"> NL<b>P</b>ie </a></h1> <img src="{% static 'img/1f967.png' %}" height="100" width="200" href="/">
    </div>
    <form class="newsletter" autocomplete="off" novalidate>
        <label style="font-size: 20px;font-family: 'Special Elite', cursive;">Wanna stay tuned?</label>
        <input type="email" id="newsletter" placeholder="Enter your email address" tabindex="1" class="newsletter-email" />
        <input type="submit" value="OK" tabindex="2" class="newsletter-submit" onclick="return subscribe()"/>
    </form>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        </div>
        <script type="text/javascript">
            (function (window, document, undefined){
    'use strict';
    var form        = '.newsletter',
        className   = 'newsletter--active',
        email       = 'input[type="email"]',

        addEventListener = function( element, event, handler )
        {
            element.addEventListener ? element.addEventListener( event, handler ) : element.attachEvent( 'on' + event, function(){ handler.call( element ); });
        },
        forEach = function( elements, fn )
        {
            for( var i = 0; i < elements.length; i++ ) fn( elements[ i ], i );
        },
        addClass = function( element, className )
        {
            element.classList ? element.classList.add( className ) : element.className += ' ' + className;
        },
        removeClass = function( element, className )
        {
            element.classList ? element.classList.remove( className ) : element.className += element.className.replace( new RegExp( '(^|\\b)' + className.split( ' ' ).join( '|' ) + '(\\b|$)', 'gi' ), ' ' );
        };

    forEach( document.querySelectorAll( form ), function( $form )
    {
        var $email = $form.querySelectorAll( email );

        if( $email.length )
        {
            $email = $email[ 0 ];
            addEventListener( $email, 'keyup', function()
            {
                $email.value != '' && /^([\w-\.]+@([\w-]+\.)+[\w-]{2,12})?$/.test( $email.value ) ? addClass( $form, className ) : removeClass( $form, className );
            });
        }
    });
})(window, document);
        </script>
</body>
</html>