{% extends 'blog/base.html' %}
{% load filters %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block content %}
{% for post in posts %}
    <div class="post">
        <div class="date">
            <p>published: {{ post.published_date|date:"M d, Y" }} by {{post.author}}</p>
        </div>
        <div class="content">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|render|truncatewords_html:"110"|strip_code|safe }}</p>
        </div>
        <div class= "read-more">
        <a href="{% url 'post_detail' pk=post.pk %}"> Read more</a>
        </div>
        <div class="post-comment">
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{post.approved_comments.count }}</a> ,  
            Views: {{ post.view_count}}
        </div>
    </div>
{% endfor %}
{% endblock %}