.page-header {
    background-color: #800000;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
}

.page-header img{
    padding: 0px 20px 20px 0px;
    margin: -60px 0px 0px 0px;
    float: left;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    font-family: 'Halant', cursive;
    font-size: 18;
    margin-left: 10px;
}

h1, h2, h3, h4 {font-family: 'Special Elite', cursive;
                display: table;
                color: #000000;}

.date {
    color: #828282;
    margin-left: 5px;
    size: 10px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.post {
    width: 100%;
    margin-bottom: 20px;
    background-color: #efe8d5;
    border-radius: 20px;
    text-indent: 5px;
    color: #000000;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post h1 a:hover{
    color: #800000;
    text-decoration: none;
}
.post-comment {
    margin-top:20px;
    background-color: #dbd4c3;
    border-radius: 20px;
    color: #000000;
    margin-left: 2px;
    margin-bottom: 50px;
    text-indent: 5px;
}

.comment {
    margin-top:20px;
    background-color: #d8c48c;
    border-radius: 10px;
    color: #000000;
    margin-left: 2px;
    text-indent: 5px;
}

hr { 
  border-color:#7f7c72;
  margin-top: 50px;
  margin-bottom: 5px;
  width: 130%;
} 

a {
    color: black;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #800000;
}

.read-more a{
  color: blue;
}
.readmore a:hover{
  color: #800000;
}

.tag {
  display: inline-block;
  border-radius: 4px;
  background-color: #efe8ee;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 2px 2px 5px #888888;
}

.button {
  display: inline-block;
  border-radius: 2px;
  background-color: #dbae4c;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.newsletter
{
    width: 100%;
    height: 37.5px; /* 60 */
    font-size: 1.25rem; /* 20 */
    position: relative;
}
.newsletter input
{
  -webkit-transition: color .25s ease,
  background-color .25s ease,
  border-color .25s ease;
  transition: color .25s ease,
  background-color .25s ease,
  border-color .25s ease;
}
.newsletter-email
{
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  color: #ffde00;
  background-color: #63614c;
  border: 2px solid transparent;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5rem 0 1.25rem; /* 80 20 */
}
.newsletter-email::-webkit-input-placeholder  { color: #a49c54 !important; }
.newsletter-email:-moz-placeholder        { color: #a49c54 !important; }
.newsletter-email::-moz-placeholder       { color: #a49c54 !important; }
.newsletter-email:-ms-input-placeholder     { color: #a49c54 !important; }

.newsletter-email:hover
{
  border-color: #494736;
}
.newsletter-email:focus
{
  color: #494736;
  background-color: transparent;
  border-color: #494736;
}

input.newsletter-submit
{

height: 37.5px;
font-weight: 700;
color: #ffde00;
background-color: #494736;
display: none;
position: absolute;
top: 100%;
right: 0;
padding: 0 1.25rem; /* 20 */
-webkit-animation: appear-from-inside .25s ease, fade-in .25s linear;
animation: appear-from-inside .25s ease, fade-in .25s linear;
-webkit-transform-origin: right center;
-ms-transform-origin: right center;
transform-origin: right center;
}
.newsletter-submit:hover,
.newsletter-submit:focus
{
  color: #fff;
}
.newsletter--active .newsletter-submit
{
  display: block;
}

@-webkit-keyframes appear-from-inside
{
  from  { -webkit-transform: scale( 0 ); }
  75%   { -webkit-transform: scale( 1.1 ); }
  to    { -webkit-transform: scale( 1 ); }
}
@keyframes appear-from-inside
{
  from  { transform: scale( 0 ); }
  75%   { transform: scale( 1.1 ); }
  to    { transform: scale( 1 ); }
}

@media screen and ( max-width: 30em ) /* 480 */
{
  .newsletter
  {
    position: relative;
    top: auto;
    left: auto;
    margin: 0;
  }
}
